
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello React!</title>
    <script src="static/react.js"></script>
    <script src="static/JSXTransformer.js"></script>
  </head>
  <body>
    <div id="example"></div>
    <script type="text/jsx">
      React.render(
      	<div>
        <h1>Hello world from djangotestapp with react js! </h1>
        <h2>Now under version control</h2>
        <h3>With some changes from Aivaras</h3>
        </div>,
        document.getElementById('example')
      );
    </script>
  </body>
</html>